/vendor/
*.zip
*.rar
*.7z
/assets/validasi/
/application/cache/*
/application/logs/*
/application/config/config.php
/application/config/database.php
!/application/cache/index.html
!/application/logs/index.html
.env
.DS_Store
Thumbs.db